# 빌드 및 로그 기록 제외
build/
install/
log/

# 시뮬레이터 관련 제외
src/mobility_challenge_simulator/
src/controller/scripts/run_sim.sh
src/controller/scripts/sim_all.sh

# 개인 메모 및 백업 제외
src/controller/memo/
src/controller/past/
src/controller/logs/

# 기타 불필요한 파일
**/.git/
**/.pycache/
.vscode/